In [1]:
## dictionary
#indexng
#multiple and duplicate data or value
#ordered
#mutable

In [15]:
d = {}
print(type(d))

<class 'dict'>

In [ ]:
#d = {<key>:<value>}

In [5]:
d = {'a':'apple','b':'ball'}
print(d['a'])
print(d['b'])
d

apple
ball

{'a': 'apple', 'b': 'ball'}

In [6]:
a = {1:1,2:4,3:9,4:16}
b ={'a':'apple','b':'ball'}

In [7]:
a ={}
a['a'] = 'apple'
a['b'] = 'ball'
a['c'] = 'cat'
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [8]:
a = {}
n = int(input('Enter n: '))
for i in range(n):
    name = input("enter name: ")
    age = input('enter age: ')
    phone = int(input('enter phone: '))
    a[name] = phone
print(a)

Enter n: 2
enter name: ram
enter age: 33
enter phone: 980000000
enter name: Shyam
enter age: 44
enter phone: 98760
{'ram': 980000000, 'Shyam': 98760}

In [9]:
a['ram']

980000000

In [10]:
a = {'ram': 980000000, 'Shyam': 98760, 'Hari':'9865456700'}
for i in (a):
    print(i)

ram
Shyam
Hari

In [11]:
a = {'ram': 980000000, 'Shyam': 98760, 'Hari':'9865456700'}
for i in (a).values():
    print(i)

980000000
98760
9865456700

In [12]:
a = {'ram': 980000000, 'Shyam': 98760, 'Hari':'9865456700'}
for i in (a).items():
    print(i)

('ram', 980000000)
('Shyam', 98760)
('Hari', '9865456700')

In [13]:
a = {'ram': 980000000, 'Shyam': 98760, 'Hari':'9865456700'}
a['ram'] = 9834543334
a

{'ram': 9834543334, 'Shyam': 98760, 'Hari': '9865456700'}

In [15]:
a = {'ram': 9834543334, 'Shyam': 98760, 'Hari': '9865456700'}
a['ram'] = ['rama']
a

{'ram': ['rama'], 'Shyam': 98760, 'Hari': '9865456700'}

In [17]:
a = {'ram': 9834543334, 'Shyam': 98760, 'Hari': '9865456700'}
b = {'Sita':9875434578,'nabin':98555565}
a.update(b)
a

{'ram': 9834543334,
 'Shyam': 98760,
 'Hari': '9865456700',
 'Sita': 9875434578,
 'nabin': 98555565}

In [18]:
#delete in dict
#del,pop

In [19]:
a = {'ram': 9834543334, 'Shyam': 98760, 'Hari': '9865456700'}
del a['ram']
a

{'Shyam': 98760, 'Hari': '9865456700'}

In [22]:
a = {'ram': 9834543334, 'Shyam': 98760, 'Hari': '9865456700'}
b = a.pop('ram')
print(b)
print(a)

9834543334
{'Shyam': 98760, 'Hari': '9865456700'}

In [23]:
#list inside dict

In [24]:
a = a = {'ram': [9834543334,98345665555] ,'Shyam': [98760,98233456777], 'Hari': [9865456700,98445666666]}
a['ram']

[9834543334, 98345665555]

In [26]:
a = {'name':['Ram','Shyam','Sita'],
    'age':[34,44,53],
     'add':['kathmandu','lalitpur','bhaktapur']}
a

{'name': ['Ram', 'Shyam', 'Sita'],
 'age': [34, 44, 53],
 'add': ['kathmandu', 'lalitpur', 'bhaktapur']}

In [29]:
a ={}
n = int(input("Enter n: "))
for i in range(n):
    name = input("enter name: ")
    ntc = int(input("enter ntc no: "))
    ncell = int(input("enter ncell no: "))
    a[name] = [ntc,ncell]
    
print(a)

Enter n: 2
enter name: ram
enter ntc no: 98333333
enter ncell no: 97333
enter name: Shyam
enter ntc no: 983333
enter ncell no: 9732222

{'ram': [98333333, 97333], 'Shyam': [983333, 9732222]}

In [33]:
a = {'name':[],'age':[],'add':[]}
n = int(input('Enter n: '))

for i in range(n):
    name = input('enter name: ')
    age = int(input('enter age: '))
    add = input('enter add: ')
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)
    
print(a)

Enter n: 2
enter name: ram
enter age: 22
enter add: kathmandu
enter name: shyam
enter age: 33
enter add: bhaktapur
{'name': ['ram', 'shyam'], 'age': [22, 33], 'add': ['kathmandu', 'bhaktapur']}

In [34]:
a = {'name': ['ram', 'shyam'], 'age': [22, 33], 'add': ['kathmandu', 'bhaktapur']}
print('name: ',a['name'][0])

name:  ram

In [35]:
a = {'name': ['ram', 'shyam'], 'age': [22, 33], 'add': ['kathmandu', 'bhaktapur']}
a['age'][0] = 33
a

{'name': ['ram', 'shyam'], 'age': [33, 33], 'add': ['kathmandu', 'bhaktapur']}

In [37]:
a = {'name': ['ram', 'shyam'], 'age': [22, 33], 'add': ['kathmandu', 'bhaktapur']}
del a ['name'][0]
del a['age'][0]
del a['add'][0]
a

{'name': ['shyam'], 'age': [33], 'add': ['bhaktapur']}

In [39]:
a = {'name': ['ram', 'shyam'], 'age': [33, 33], 'add': ['kathmandu', 'bhaktapur']}
k = list(a.keys())
index = int(input("enter index: "))
for i in a:
    del a [i][index]
    
print(a)

enter index: 1
{'name': ['ram'], 'age': [33], 'add': ['kathmandu']}

In [41]:
a = {'name': ['ram', 'shyam'], 'age': [33, 33], 'add': ['kathmandu', 'bhaktapur']}

index = int(input('enter index: '))
for i in a:
    x = input(f"enter {i}")
    a[i][index] = x
    
print(a)

enter index: 0
enter namerama
enter age33
enter addpokhare
{'name': ['rama', 'shyam'], 'age': ['33', 33], 'add': ['pokhare', 'bhaktapur']}

In [2]:
#dict inside list

In [5]:
l = [{'name':'ram','age':'32','add': 'kathmandu'},
    {'name':'Shyam','age':'45','add': 'bhaktapur'},
    {'name':'gita','age':'22','add': 'lalitpur'}]
l

[{'name': 'ram', 'age': '32', 'add': 'kathmandu'},
 {'name': 'Shyam', 'age': '45', 'add': 'bhaktapur'},
 {'name': 'gita', 'age': '22', 'add': 'lalitpur'}]

In [ ]:
l= []
n = int(input("Enter n: "))
for i in range(n):
    name = input("enter name: ")
    age = int(input("enter age: "))
    add = input("enter add: ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
    
print(l)

In [ ]:
# wap  to update ,delete read to the program

In [14]:
l = [{'name':'ram','age':'32','add': 'kathmandu'}, 
     {'name':'Shyam','age':'45','add': 'bhaktapur'},
     {'name':'gita','age':'22','add': 'lalitpur'}]
index = int(input("enter index: "))
for i in l:
    del l [i1][index]
    
print(l)

enter index: 1

TypeError: list indices must be integers or slices, not list

In [6]:
#dict inside dict

In [2]:
d = {1:{'name':'Ram','age':42,'add':'kathmandu'},
    2:{'name':'Shyam','age':22,'add':'lalitpur'},
    3:{'name':'Rama','age':38,'add':'bhaktapur'},}

<class 'dict'>

In [1]:
info = {}
n = int(input("Enter n: "))
for i in range(1,n+1):
    name = input("enter name: ")
    age = int(input("enter age: "))
    add = input("enter add: ")
    info[i] = {'name':name,'age':age,'add':add}

print(info)

Enter n: 2
enter name: Ram
enter age: 22
enter add: Kathmandu
enter name: Shyam
enter age: 44
enter add: Bhaktapur
{1: {'name': 'Ram', 'age': 22, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'}}

In [ ]:
# wap  to add, update ,delete read to the program