In [1]:
#function

In [2]:
#pre define function
#print() , int(), float()

In [ ]:
#user define function
def <function-name>():
    <operation>
    <function-name>()

In [4]:
def a():              #function define
    print('Hello world')
    
a()                   # function call

Hello world

In [8]:
def cal():
    len = int(input('Enter l: '))  #local variable
    b = int(input('Enter b: '))    #local variable
    a  =len*b
    print(a)
    
cal()

Enter l: 33
Enter b: 44
1452

In [10]:
len = int(input('Enter l: '))  #global variable
b = int(input('Enter b: '))    #global variable

def cal():
    a  =len*b
    print(a)
    
cal()

Enter l: 10
Enter b: 2
20

In [ ]:
#arguments
#parameter
#return type

In [13]:
def cal(x,y):                  # x,y paramater
    x,y =z
    print(a)
l = int(input('Enter l: '))  #local variable
b = int(input('Enter b: '))    #local variable
z =[l,b]
    
cal(l,b)                       # l,b argument

Enter l: 10
Enter b: 2
<function a at 0x000002C0169E04A0>

In [14]:
a =[10,20]
x,y = a 
print(x)
print(y)

10
20

In [15]:
def language(lan = 'Python'):
    print(lan)
    
language('c')
language('java')
language('c#')
language()

c
java
c#
Python

In [17]:
#return type function
def hello():
    x = "Hello world"
    return x
# print(hello())
y = hello()
print( y + " I am python.")

Hello world I am python.

In [28]:
def cal(len,b):
    a = l*b
    return a 

len = int(input("enter l: "))
b = int(input("enter b: "))
h = int(input("Enter h: "))
area = cal(len,b)
volume = area * h
print(area)
print(volume)

enter l: 20
enter b: 3
Enter h: 4
60
240

In [ ]:
def reasult():
def reasult():
    m = float(input("marks in maths= "))
    s = float(input("marks in science= "))
    n = float(input("marks in nepali= "))
    e = float(input("marks in english= "))
    env = float(input("marks in env.science= "))
    so = float(input("marks in social= "))
    c = float(input("marks in computer= "))
    tot = m+s+n+e+env+so+c
    ave = tot/7
    if ave>= 90:
        print("you have score A+")
    elif ave>= 80:
        print("you have score A")
    elif ave>= 70:
        print("you have score B+")
    elif ave>= 60:
        print("you have score B")
    elif ave>= 50:
        print("you have score c+")
    elif ave>= 40:
        print("you have score c")
    elif ave>= 35:
        print("you have score d")
    else:
        print("you have failed")

return tot ,ave

return x,y reasult()

print('total marks = ',x)
print('per= ',y)

In [11]:
def add(a,b):
    return a + b
def sub(a,b):
    return a-b
def mult(a,b):
    return a*b
def div(a,b):
    return a/b

def cal(a,b,o):

    if o == "1":
        print(add(a,b) )
    elif o == "2":
        print(sub(a,b))
    elif o == "3":
        print(mult(a,b))
    elif o == "4":
        if b != 0:
            print(div(a,b))
        else:
            print("the value of b cannt be zero")
    else:
        print("invalid number")
    
a = float(input("enter your first number: "))
b = float(input("enter your second number: "))
o = input("Enter 1 for add or 2 for sub or 3 for muli or 4 for div")
    
cal(a,b,o)

enter your first number: 1111
enter your second number: 11
Enter 1 for add or 2 for sub or 3 for muli or 4 for div1
1122.0

In [ ]:
#recursive function

In [15]:
def hello():
    print("hello world")
    x = input("Enter y for more print: ")
    if x == 'y':
        hello()
hello()

hello world
Enter y for more print: y
hello world
Enter y for more print: y
hello world
Enter y for more print: y
hello world
Enter y for more print: y
hello world
Enter y for more print: y
hello world
Enter y for more print: y
hello world
Enter y for more print: y
hello world
Enter y for more print: y
hello world
Enter y for more print: s

In [16]:
#math function

In [17]:
import math as m 
print(m.sin(60))

-0.3048106211022167

In [18]:
m.pi

3.141592653589793

m.pi

In [21]:
print(m.sin(m.pi/2))

1.0

In [22]:
print(m.cos(m.pi/2))

6.123233995736766e-17

In [23]:
print(m.tan(m.pi/2))

1.633123935319537e+16

In [24]:
a = m.factorial(10)
print(a)

3628800

In [25]:
#lambda function

In [26]:
#lambda <argument>:<operation>

In [28]:
a = lambda x:x**2
print(a(5))

25

In [29]:
a = lambda x,y:x*y
print(a(4,5))

20

In [ ]:
 #   filter function
#  map function

In [ ]:
#filter 
filter((lambda <argument>:<condition>),list)

In [30]:
a = [1,2,3,4,5,6,7,8,9,10]
list (filter((lambda x:x%2 == 0),a))

[2, 4, 6, 8, 10]

In [35]:
a = ['Apple','Ball','Cat','DOG','Fish','bat']
list (filter((lambda x:x.isupper()),a))

['DOG']

In [36]:
#map function

In [ ]:
#map((lambda <argument>:<operation>),list)

In [40]:
a = ['Apple','Ball','Cat','Dog','Fish','Bat']
b = list (map(lambda x:x.lower(),a))
b

['apple', 'ball', 'cat', 'dog', 'fish', 'bat']

In [43]:
a =[1,2,3,4,5,6,7,8,9,10]
b = list (map(lambda x:x**2,a))
b

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
a = [20000,30000,40000,50000,60000,70000,20000]
b = list (map(lambda x:x*1.2,a))
b

[24000.0, 36000.0, 48000.0, 60000.0, 72000.0, 84000.0, 24000.0]

In [ ]:
#list and dict

In [47]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
a = [int(input("Enter value: ")) for i in range(5)]
a

Enter value: 1
Enter value: 2
Enter value: 3
Enter value: 4
Enter value: 5

[1, 2, 3, 4, 5]

In [5]:
a = ([int(input("Enter value: ")) for i in range(5)])
a
print(sum)

Enter value: 1
Enter value: 2
Enter value: 3
Enter value: 4
Enter value: 5
<built-in function sum>

In [ ]:
a = {input("Enter name= "):input('Enter phone= ') for i in range(5)}
print(a)km

In [1]:
x =[1,2,3,4,5,6,7,8,9]
a = {i:i**2 for i in x}
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}