In [1]:
#python collection
#list
#tuple
#dict
#set

In [2]:
#list

In [6]:
a = ["apple","ball","cat"]
b = [1,2,3,4,5]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
['apple', 'ball', 'cat']
[1, 2, 3, 4, 5]

In [ ]:
#indexing

In [4]:
a = ["apple","ball","cat"]
print(a[0])

apple

In [5]:
print(a[0:5:2])

['apple', 'cat']

In [7]:
b = [1,2,3,4,5]
print(b*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [8]:
# append( ), insert(), extend()

In [10]:
a =[]
a.append("apple")
a.append("ball")
print(a)

['apple', 'ball']

In [12]:
l = []
n= int(input("enter the value of n: "))
for i in range(n):
    x = int(input("enter x: "))
    l.append(x)
    
print(l)

enter the value of n: 10
enter x: 11
enter x: 112
enter x: 122
enter x: 222
enter x: 42
enter x: 553
enter x: 5322
enter x: 53
enter x: 53
enter x: 53
[11, 112, 122, 222, 42, 553, 5322, 53, 53, 53]

In [15]:
print("min value: ",min(l))
print("max value: ",max(l))
print("sum value: ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

min value:  11
max value:  5322
sum value:  6543
[11, 42, 53, 53, 53, 112, 122, 222, 553, 5322]
[5322, 553, 222, 122, 112, 53, 53, 53, 42, 11]

In [19]:
l = []
n= int(input("enter the value of n: "))
for i in range(n):
    x = input("enter x: ")
    l.append(x)
    
print(l)

enter the value of n: 5
enter x: ram
enter x: shyam
enter x: hari
enter x: shyam
enter x: gita
['ram', 'shyam', 'hari', 'shyam', 'gita']

In [20]:
l.sort()
print(l)

['gita', 'hari', 'ram', 'shyam', 'shyam']

In [24]:
#insert()
a = ['hari','shyam','ram','shyam']
a.insert(1,"harry")
print(a)

['hari', 'harry', 'shyam', 'ram', 'shyam']

In [26]:
a = ['hari','shyam','ram','shyam']
b =[1,2,3,4,5,6]
a.extend(b)
print(a)

['hari', 'shyam', 'ram', 'shyam', 1, 2, 3, 4, 5, 6]

In [29]:
# update
a = ['hari','shyam','ram','shyam']
a[0] = 'nita'
print(a)

['nita', 'shyam', 'ram', 'shyam']

In [41]:
a = ['hari','shyam','ram','shyam']
a[1:2] = ["jack", "john","steven"]
print(a)

['hari', 'jack', 'john', 'steven', 'ram', 'shyam']

In [37]:
# insert multiple values inside certain inde
a = ['hari','shyam','ram','shyam']
a[0:0] = ['steaven','bill']
print(a)

['steaven', 'bill', 'hari', 'shyam', 'ram', 'shyam']

In [44]:
#delete : del, remove(), pop()
a = ['hari','shyam','ram','shyam']
del a[0] 
print(a)

['shyam', 'ram', 'shyam']

In [46]:
a = ['hari','shyam','ram','shyam']
del a[0:2]
print(a)

['ram', 'shyam']

In [4]:
a = ['hari','shyam','ram','shyam']
a.remove('ram')
a

['hari', 'shyam', 'shyam']

In [55]:
a = ['hari','shyam','ram','shyam']
a.pop(1)
a

['hari', 'ram', 'shyam']

In [58]:
a = ['hari','shyam','ram','shyam']
b = a.pop(1)
print(a)
print(b)

['hari', 'ram', 'shyam']
shyam

In [64]:
a = ['hari','shyam','ram','shyam']
for i in a:
    print(i)

hari
shyam
ram
shyam

In [65]:
a = ['hari','shyam','ram','shyam']
l = len(a)
print(l)

4

In [1]:
i = 0
a = ['hari','shyam','ram','shyam']
l = len(a)
while l<1:
    print(a[i])
    i = i+1

In [8]:
# removing multiple value
a = ['hari','shyam','ram','shyam','ram']
c = a.count("ram",)
for i in range(c):
    a.remove('ram')
a

['hari', 'shyam', 'shyam']

In [10]:
a = ['hari','shyam','ram','shyam','ram']
if 'ram' in a:
    print('yes',a.count("ram"))
else:
    print("no")

yes 2

In [11]:
a = ['hari','shyam','ram','shyam','ram']
a.index('ram')

2

In [15]:
a = ['hari','shyam','ram','shyam','ram']
l = len(a)
for i in range(l):
    if a[i] == 'ram':
        print(i)

2
4

In [2]:
a = ['hari','shyam','Ram','shyam','ram']
name= input("Enter name: ")
l = len(a)
for i in range(l):
    if a[i].lower == name.lower():
        print(i)

Enter name: ram

In [7]:
a = ['hari','shyam','Ram','shyam','ram']
name= input("Enter name: ")
l = len(a)
for i in range(l):
    if a[i].lower == name.lower():
        print(i)

Enter name: ram

In [8]:
# nested loop

In [ ]:
a = [[1,2,3],
    [4,5,6]
    [7,8,9]]
print(a)

In [4]:
info = [["ram", 34, "Kathmandu"],
       ['Shyam', 46, 'lalitpur'],
       ['Hari',33,'lalitpur']]
print(info)
print(len(info))

[['ram', 34, 'Kathmandu'], ['Shyam', 46, 'lalitpur'], ['Hari', 33, 'lalitpur']]
3

In [5]:
info[0]

['ram', 34, 'Kathmandu']

In [6]:
info[0][0]

'ram'

In [8]:
info = []
n = int(input("enter n:"))
for i in range(n):
        name = input('enter name= ')
        age = int(input('enter age= '))
        add = input("enter add= ")
        x = [name,age,add]
        info.append(x)
print(info)

enter n:2
enter name= ram
enter age= 33
enter add= kathmandu
enter name= shyam
enter age= 45
enter add= lalitpur
[['ram', 33, 'kathmandu'], ['shyam', 45, 'lalitpur']]

In [9]:
info.append(['Hari',34,'kathmandu'])
info

[['ram', 33, 'kathmandu'],
 ['shyam', 45, 'lalitpur'],
 ['Hari', 34, 'kathmandu']]

In [14]:
#update
info[0][0] = 'gita'
info

[['gita', 33, 'kathmandu'],
 ['shyam', 45, 'lalitpur'],
 ['Hari', 34, 'kathmandu']]

In [15]:
a = [['ram', 33, 'kathmandu'],
    ['shyam', 45, 'lalitpur'],
    ['Hari', 34, 'kathmandu']]
del a[0]
a

[['shyam', 45, 'lalitpur'], ['Hari', 34, 'kathmandu']]

In [17]:
a = [['ram', 33, 'kathmandu'],
    ['shyam', 45, 'lalitpur'],
    ['Hari', 34, 'kathmandu']]
b = a.pop(0)
print(a)
print(b)

[['shyam', 45, 'lalitpur'], ['Hari', 34, 'kathmandu']]
['ram', 33, 'kathmandu']

In [32]:
info = [['shyam', 45, 'lalitpur'], ['Hari', 34, 'kathmandu'], ['Ram', 66,'kathmandu']]
name = input("Enter name: ")
l = len(a)
for i in range(l):
    if name in a[i] :
        print(i)

Enter name: Ram

In [3]:
m = []
r = int(input('enter r: '))
c = int(input('enter c; '))
for i in range(r):
    y =[]
    for j in range(c):
        x = input("enter x: ")
        y.append(x)
    m.append(y)
    
print(m)

enter r: 2
enter c; 3
enter x: ram
enter x: 33
enter x: kathmandu
enter x: shyam
enter x: 44
enter x: lalitpur
[['ram', '33', 'kathmandu'], ['shyam', '44', 'lalitpur']]

In [ ]:
m = []
r = int(input("enter r: "))
c = int(input("enter c: "))
for i in range(r):
    y =[]
    for j in range(c):
        x = input("enter x: ")
        y.append(x)
    m.append(y)
    
print(m)