In [3]:
# for loop 
# while loop

In [10]:
for i in range(2,100,3*3): # range = creat sequence of no
    print(i)

2
11
20
29
38
47
56
65
74
83
92

In [12]:
for i in range(5): # range = creat sequence of no
    print("hello ")

hello
hello
hello
hello
hello

In [19]:
for i in range(11):
    print(i * 5)

0
5
10
15
20
25
30
35
40
45
50

In [21]:
x = int(input("enter the value of x: "))
for i in range(11):
    print(x,"*",i,"=",i*x)

enter the value of x: 200
200 * 0 = 0
200 * 1 = 200
200 * 2 = 400
200 * 3 = 600
200 * 4 = 800
200 * 5 = 1000
200 * 6 = 1200
200 * 7 = 1400
200 * 8 = 1600
200 * 9 = 1800
200 * 10 = 2000

In [5]:
abc= 0
for i in range(5):
    x = int(input('enter the value of x: '))
    abc = abc+ x
    print ("total amount:",abc)

enter the value of x: 1000
total amount: 1000
enter the value of x: 1000
total amount: 2000
enter the value of x: 1000
total amount: 3000
enter the value of x: 1000
total amount: 4000
enter the value of x: 1000
total amount: 5000

In [ ]:
abc= ""
n = int(input("enter loop: "))
for i in range(n):
    x = input('enter the value of x: ')
    abc = abc + x + "\n"
    print (abc)

In [2]:
contact = ""
l = int(input("enter loop: "))
for i in range(l):
    n = input("enter name:")
    p = int(input("enter phone number: "))
    contact = contact + n + " " + str(p) + "\n"
print(contact)

enter loop: 2
enter name:ram
enter phone number: 9800000000
enter name:hyam
enter phone number: 98000000
ram 9800000000
hyam 98000000

In [8]:
fac = 1
n = int(input("enter n = "))
for i in range(1, n+1):
    fac = fac * i
    print(fac)

enter n = 5
1
2
6
24
120

In [11]:
for i in range(11):
    print(i * '^')

^
^^
^^^
^^^^
^^^^^
^^^^^^
^^^^^^^
^^^^^^^^
^^^^^^^^^
^^^^^^^^^^

In [6]:
n = 10
for i in range(10):
    print((n-i)*" ",2*(i*'o'))
for i in range(5):
    print(7*" ",5*"o")

          oo
         oooo
        oooooo
       oooooooo
      oooooooooo
     oooooooooooo
    oooooooooooooo
   oooooooooooooooo
  oooooooooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo

In [ ]:
# wap to make billing system 
name=
price=
quantiti=
 in.total
namr:

In [7]:
total = " "
all_total = 0
A = int(input("enter amount: "))
for i in range(A):
    o = input('\nenter object: ')
    q = int(input("\nenter quantiti: "))
    t = int(input("\namount: "))
    a = (q * t)
    
    total= total + str(o) +" " + str(q) +" " +  str(a) + "\n"
    all_total = all_total + a
print(total)
print("the sum total : ",all_total)

enter amount: 2

enter object: coke

enter quantiti: 2

amount: 200

enter object: momo

enter quantiti: 5

amount: 200
 coke 2 400
momo 5 1000

the sum total :  1400

In [10]:
a = "123"
for i in a: 
    print(i,"hello woeld")

1 hello woeld
2 hello woeld
3 hello woeld

In [11]:
a = "Hello world. I am python"
for i in a:
    print(i,end = "")

Hello world. I am python

In [14]:
a = "Hello world. I am python"
for i in a:
    if i != ".":
        print(i,end = "")

Hello world I am python

In [22]:
a = "Hello world. I am python!"
for i in a:
    if i != "." or i != "!":
        print(i,end = "")

Hello world. I am python!

In [ ]:
a = "Hello world. I am python!"
for i in a:
    print(i,end = "")

In [ ]:
#control statrment
#break
#continue
#pass

In [3]:
#break

for i in range(10):
    if i == 5:
        break
        print(i)

In [1]:
a = "Hello world. I am python"
for i in a:
    if i != ".":
        print(i,end = "")
    else:
        break

Hello world

In [1]:
a = "Hello world. I am python"
for i in a:
    if i == ".":
        break
        print(i,end = "")

In [2]:
#continue
for i in range(10):
    if  i == 5:
        continue
    print(i,end = "")

012346789

In [2]:
for i in range(1 , 51 ):
    if i%5 != 0:
        continue
        print(i)

In [2]:
a = "Hello world. I am python"
for i in a:
    if i == ".":
        continue
        print(i,end = "")

In [5]:
# pass
for i in range(5):
    pass

In [6]:
a = 10 
if a %2 ==0:
    pass