In [1]:
import pandas as pd

In [2]:
file = open("info.csv",'x')
file.close()

In [4]:
info = ""
file = open('info.csv','w')
file.write('Name,Age,Add\n')
n = int(input("Enter n: "))
for i in range(n):
    name = input("enter name: ")
    age = int(input("Enter age: "))
    add = input("enter add: ")
    info = info +  f"{name},{age},{add}\n"
    
    
file.write(info)

Enter n: 6
enter name: Ram
Enter age: 23
enter add: kathmandu
enter name: Rose
Enter age: 22
enter add: Jhapa
enter name: ari
Enter age: 44
enter add: Pokhara
enter name: John
Enter age: 33
enter add: Gorkha
enter name: Bob
Enter age: 43
enter add: Bhaktapur
enter name: Shyam
Enter age: 55
enter add: Lalitpur

In [5]:
file.close()

In [4]:
import pandas as pd
df = pd.read_csv('info.csv')
df

    Name  Age        Add
0    Ram   23  kathmandu
1   Rose   22      Jhapa
2    ari   44    Pokhara
3   John   33     Gorkha
4    Bob   43  Bhaktapur
5  Shyam   55   Lalitpur

In [5]:
df = pd.read_csv('info.csv',nrows = 5)
df

   Name  Age        Add
0   Ram   23  kathmandu
1  Rose   22      Jhapa
2   ari   44    Pokhara
3  John   33     Gorkha
4   Bob   43  Bhaktapur

In [6]:
df = pd.read_csv('info.csv')
df.head(3)

   Name  Age        Add
0   Ram   23  kathmandu
1  Rose   22      Jhapa
2   ari   44    Pokhara

In [11]:
df = pd.read_csv('info.csv')
df.tail(2)

    Name  Age        Add
4    Bob   43  Bhaktapur
5  Shyam   55   Lalitpur

In [7]:
df = pd.read_csv('info.csv',usecols = ['Name','Add'])
df

    Name        Add
0    Ram  kathmandu
1   Rose      Jhapa
2    ari    Pokhara
3   John     Gorkha
4    Bob  Bhaktapur
5  Shyam   Lalitpur

In [23]:
df = pd.read_csv('info.csv')
df

    Name  Age        Add
0    Ram   23  kathmandu
1   Rose   22      Jhapa
2    ari   44    Pokhara
3   John   33     Gorkha
4    Bob   43  Bhaktapur
5  Shyam   55   Lalitpur

In [8]:
df.iloc[1:5]

   Name        Add
1  Rose      Jhapa
2   ari    Pokhara
3  John     Gorkha
4   Bob  Bhaktapur

In [10]:
df['Add'] == 'kathmandu'

0     True
1    False
2    False
3    False
4    False
5    False
Name: Add, dtype: bool

In [11]:
df[df['Add'] == 'kathmandu']

  Name        Add
0  Ram  kathmandu

In [12]:
df[(df['Add'] == 'kathmandu')| (df['Age'] >= 20)]

KeyError: 'Age'

In [ ]:
df

In [ ]:
df = pd.read_csv('info.csv')
df['sn'] = [i for i in range(1,7)]

In [ ]:
df

In [ ]:
data = {'sn':[7,8],'Age':[22,33],'Name':['Akash','Aayus'],'Add':["lalitpur","Bhaktpur"]}
data

In [ ]:
df1 = pd.DataFrame(data)
df1

In [ ]:
df = pd.concat([df,df1])
df

In [13]:
df.to_csv('nwe_data.csv')

In [14]:
df = pd.read_csv('nwe_data.csv')
df

   Unnamed: 0   Name        Add
0           0    Ram  kathmandu
1           1   Rose      Jhapa
2           2    ari    Pokhara
3           3   John     Gorkha
4           4    Bob  Bhaktapur
5           5  Shyam   Lalitpur

In [15]:
df = pd.read_csv('nwe_data.csv',usecols = ['sn','Name','Age',"Add"],index_col = 'sn')
df

ValueError: Usecols do not match columns, columns expected but not found: ['Age', 'sn']

In [ ]:
df.drop([3,4], axis = 0)

In [17]:
df.drop(['Age'], axis = 1)

KeyError: "['Age'] not found in axis"

In [ ]:
df

In [2]:
df.drop(['add'], axis = 1)
df

NameError: name 'df' is not defined