In [2]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "mysqldb"
)
db = database.cursor()

In [3]:
db.execute("SELECT * FROM `reasult-of-class10`")
result =db.fetchall()
for x in result:
           print(x)

(1, 'Ram', 92, 85, 92, 88, 90, 420, 91.0, 'A+')
(2, 'Shyam\r\n', 88, 89, 85, 86, 90, 420, 86.0, 'A')
(11, 'Ram', 92, 85, 93, 88, 90, 420, 91.0, 'A+')
(12, 'Bikash', 91, 92, 81, 85, 77, 426, 85.2, 'A')

In [3]:
name = input("Enter name: ")
m = float(input("marks in maths= "))
p = float(input("marks in physics= "))
n = float(input("marks in nepali= "))
e = float(input("marks in english= "))
c = float(input("marks in chemistry= "))
total = m+p+n+e+c
per = total/5

if per>= 80:
    grade="A"
elif per>= 60:
    grade ="B"
elif per>= 45:
    grade = "c"
else:
    grade = "F"

sql = f''' INSERT INTO `reasult-of-class10` (name, physics, math, english, chemistry, nepali, total, per, grade) 
       VALUES ('{name}', {m}, {p}, {n}, {e}, {c}, {total}, {per}, '{grade}')'''
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

Enter name: Bikash
marks in maths= 91
marks in physics= 92
marks in nepali= 81
marks in english= 85
marks in chemistry= 77
1 record inserted.

In [4]:
db.execute("SELECT * FROM `reasult-of-class10` WHERE name LIKE '%Ra%'")
result =db.fetchall()
for x in result:
           print(x)

(1, 'Ram', 92, 85, 92, 88, 90, 420, 91.0, 'A+')
(11, 'Ram', 92, 85, 93, 88, 90, 420, 91.0, 'A+')