In [1]:
a = 'hello world'
b = "hello world"
c = '''hello world'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "Hello"
b =" world"
print(a +b)

Hello world

In [3]:
a = "Hello world"
print(a[0])
print(a[0:5])
print(a[0:10:2])
print(a[5:])
print(a[-1])
print()

H
Hello
Hlowr
 world
d

In [4]:
a = "Hello world"
print(a[-1:-11:-2])

drwol

In [5]:
print(a[::-1])

dlrow olleH

In [1]:
a = "Hello world"
l = len(a)
for j in range(l):
    print(a[j])

H
e
l
l
o

w
o
r
l
d

In [7]:
a = "Hello world"
i = 0 
l = len(a)
while i< l:
    print(a[i])
    i = i+1

H
e
l
l
o

w
o
r
l
d

In [8]:
#string formating

In [2]:
name = input("enter your name:")
age = int(input("enter your age: "))
add = input("enter your add: ")
info = f"Hello world I am {name} I am {age} I am form {add}."
print(info)

enter your name:sushant
enter your age: 22
enter your add: ktm
Hello world I am sushant I am 22 I am formktm.

In [ ]:
total = " "
all_total = 0
A = int(input("enter amount: "))
for i in range(A):
    o = input('\nenter object: ')
    q = int(input("\nenter quantiti: "))
    t = int(input("\namount: "))
    a = (q * t)
    
    total= total +f"{o} {q} {t}\n"
    all_total = all_total + a
print(total)
print("the sum total : ",all_total)

In [ ]:
a = "ram shyam hari sita gita ramesh"
search =input("enter name: ")
if search in a :
    print("yes",a.count(search))
else:
    print("no")

In [ ]:
a = "ram shyam hari sita gita ramesh"
print(a.upper())
print(a.lower())

In [ ]:
a = "ram Shyam hari sita gita ramesh".upper()
search =input("enter name: ").upper()
if search in a :
    print("yes",a.count(search))
else:
    print("no")

In [ ]:
a = "ram Shyam hari sita gita ramesh"
b = input("enter name: ")
if b not in a :
    print("no")

In [ ]:
a = "ram Shyam hari sita gita ramesh"
print(a.title())

In [ ]:
a = "ram shyam hari sita gita ramesh"
print(a.isupper())
print(a.islower())

In [ ]:
a = "Ram"
a[0].isupper()

In [ ]:
#replace function

In [ ]:
a = "ram Shyam hari sita gita ramesh"
a.replace("ram","rama")

In [ ]:
a = "ram Shyam hari sita gita "
b = input("enter name to change: ")
c = input("enter name to change in: ")
a.replace(b,c)

In [ ]:
a = int(input("enter number"))
b = a[::-1]
print("yes")

In [1]:
pwd

'C:\\Users\\Acer\\python class 8am'