In [1]:
#tuple
-indexting
-multiple and duplicate
-Ordered
-Imputable

In [2]:
t = tuple()
a = (1,2,3,4,5,6,7,8,9)
b  = ('apple','ball','cat')
print(type(a))

<class 'tuple'>

In [4]:
t = ('apple',)
type(t)

tuple

In [6]:
b  = ('apple','ball','cat')
print(b[0])
print(b[0:2])
print(b[0:3:2])

apple
('apple', 'ball')
('apple', 'cat')

In [ ]:
no append() insert() extend()
no update
no delete
no sort()

In [7]:
a = (1,2,3,4,5)
b = (6,7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
t = ()
n = int(input("enter n: "))
for i in range(n):
    x = int(input("enter x: "))
    t = t + (x,)
    
print(t)

enter n: 3
enter x: 4
enter x: 5
enter x: 5
(4, 5, 5)

In [9]:
a = (2,3,4,5,6,7,8)
print(min(a))
print(max(a))
print(sum(b))
sorted(a)

2
8
30

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
#tupe to list

In [10]:
b  = ('apple','ball','cat')
c = list(b)
del c[0]
b = tuple(c)
b

('ball', 'cat')

In [ ]:
# tuple inside tuple

In [14]:
info = ()
n = int(input("Enter n: "))
for i in range(1,n+1):
    name = input("enter name: ")
    age = int(input("enter age: "))
    add = input("enter add: ")
    info = info + ((name,age,add),)
    
print(info)

Enter n: 2
enter name: Ram
enter age: 33
enter add: Kathmandu
enter name: Shyam
enter age: 22
enter add: lalitpur
(('Ram', 33, 'Kathmandu'), ('Shyam', 22, 'lalitpur'))